* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  width: 18%;
  height: 400px;
  background-color: gray;
}
.side-image {
  width: 100%;
  height: 300px;
  background: red;
  overflow: hidden;
}
.side-image img {
  width: 100%;
}
.side-detail {
  width: 100%;
  height: 100px;
  background: rgb(73, 145, 169);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
button {
  padding: 8px 16px;
}
.card-container {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.product-title{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px 0;
}
@media(max-width:480px){
  .card{
    width: 100%;
    margin-bottom: 30px;
  }
}